@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    max-width: 1903px;
    margin: auto;
}

.btn-primary {
    padding: 20px 24px;
    color: #FFF;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    background: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
}


.high-light-gray {
    color: #727272;
    font-weight: 500;
}

.high-light-black {
    color: #131313;

}

.high-light {
    color: #FF900E;

}

.text-light-gray {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}


/* header styles  */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 2rem;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}


.section-title {
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}


/* banner styles  */

.banner-content {
    max-width: 50rem;
    text-align: center;
    margin: 2rem auto;
}


.banner-title {
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    width: 100%;
    margin-top: 1rem;
}


main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams section styles  */

.team-section {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}


.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}




.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.8rem;
}



/* features-section  */

.features-section {
    margin-top: 130px;
    margin-bottom: 150px;
    display: flex;
    gap: 100px;
}

.features-section .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}


.feature-content .card {
    border-radius: 8px;
    background: #FFF;
    padding: 2rem;
    margin-bottom: 1.4rem;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-image img {
    height: 100%;
    margin-left: 50px;
}

.ten-years-badge {
    width: 10rem;
    color: #FFF;
    text-align: center;
    padding: 42px;
    border-radius: 8px;
    background: #FF900E;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h3 {
    font-size: 4rem;
    margin: 0;

}

.ten-years-badge p {
    font-size: 1.5rem;
}



/* facts container  */
.facts-card-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
}


.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 30px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 2.8rem;
}

.facts-card-container .card-title {
    font-weight: 600;
    color: #727272;

}


/* sponsors-section styles */
.sponsors-section {
    text-align: center;
    margin-top: 5rem;
}

.sponsors-image-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 40px;
}

.sponsors-image-container img {
    width: 165px;
}






/* Responsive media queries  */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .facts-card-container,
    .sponsors-image-container,
    .features-section {
        flex-direction: column;

    }

    nav li {
        margin-top: 30px;

    }

    .banner-title {
        font-size: 30px;
    }

    .btn-primary {
        padding: 16px;
        text-align: center;
        border: none;
        font-size: 15px;
        font-weight: 400;
    }


    .team-section {
        flex-direction: column;
    }


    .teams-img-container {
        grid-template-columns: 1fr;
    }


    .features-image img {
        width: 100%;
        margin-left: 0;
    }


    .ten-years-badge {
        max-width: 300px;
    }

    .teams-content,
    .facts-card-container,
    .feature-content {
        margin-top: 4rem;
        padding-right: 20px;
        padding-left: 20px;
    }


    .fact-content {
        padding: 32px 25px;
    }


    .facts-card-container {
        flex-direction: column;
        gap: 10px;
    }


}


/* tablet or medium device  */

@media screen and (min-width:576px) and (max-width:960px) {

    nav,
    .team-section,
    .sponsors-image-container,
    .features-section {
        flex-direction: column;
    }



    nav li {
        margin-top: 30px;

    }

    header {
        padding: 50px;
    }


    .banner-title {
        font-size: 36px;
    }

    .btn-primary {
        padding: 20px;
        text-align: center;
        border: none;
    }

    .teams-content {
        padding-right: 70px;
        padding-left: 70px;
        padding-top: 70px;
    }

    .teams-img-container img {
        width: 17.5rem;
    }


    .features-image img {
        width: 100%;
        margin-left: 0;
    }


    .ten-years-badge {
        max-width: 600px;
    }


    .fact-content {
        padding: 2rem 25px;
    }


    .facts-card-container {
        gap: 5px;
    }


}