@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    max-width: 1903px;
    margin: auto;
}

.btn-primary {
    padding: 20px 24px;
    color: #FFF;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    background: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
}


/* header styles  */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 2rem;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}


.nav-title {
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}


/* banner styles  */

.banner-content {
    max-width: 50rem;
    text-align: center;
    margin: 2rem auto;
}


.banner-title {
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


.banner-description {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}


.banner img {
    width: 100%;
    margin-top: 1rem;
}



/* Responsive media queries  */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    nav>ul {
        flex-direction: column;

    }

    nav li {
        margin-top: 30px;

    }

    .banner-title {
        font-size: 30px;
    }

    .btn-primary {
        padding: 16px;
        text-align: center;
        border: none;
        font-size: 15px;
        font-weight: 400;
    }
}


/* tablet or medium device  */

@media screen and (min-width:576px) and (max-width:960px) {

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-top: 30px;

    }

    header {
        padding: 50px;
    }


    .banner-title {
        font-size: 36px;
    }

    .btn-primary {
        padding: 20px;
        text-align: center;
        border: none;
    }
}